#image1{
    margin: 10px 10px 10px 10px;
}

#image2{
    margin-top: 10px;
    margin-bottom: 10px;
}

#gambar7{
    width: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    }

    #gambar8{
        width: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    
        }

    footer{
        margin-top: 25;
    }